.feedback-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 490px;
  padding: 29px 40px 36px;
  color: var(--c-text-secondary);
  background-color: var(--bg-light);
  transform: translate(-50%, -50%);

  &--fixed {
    top: 0;
    transform: translate(-50%, 0%);
  }

  @media (max-width: 767px) {
    max-width: 100%;
    padding: 29px 15px 36px;
  }
}

.feedback-popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 17px;
  height: 17px;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  background: transparent;

  &:hover,
  &:focus {
    outline: 0;
    box-shadow: 0 0 10px 5px currentColor;
  }
}

.feedback-popup__close svg {
  pointer-events: none;
}

.feedback-popup fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.feedback-popup legend {
  margin-bottom: 12px;
  font-family: var(--font-secondary);
  font-size: 28px;
  font-weight: 400;
  line-height: 140.6%;
}

.feedback-popup span {
  display: block;
  max-width: 90%;
  line-height: 134.4%;
}

.feedback-popup__content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  row-gap: 30.5px;
  margin-top: 33px;
}

.feedback-popup ::placeholder {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  opacity: 1;
}

.feedback-popup input,
.feedback-popup textarea {
  margin: 0;
  padding: 15px 24px;
  font-family: inherit;
  font-size: inherit;
  line-height: 134.4%;
  color: inherit;
  border: 0;
  background-color: var(--bg-input);
  transition: box-shadow 0.3s;

  &:hover,
  &:focus-within {
    outline: 0;
    box-shadow: 0 0 10px 5px currentColor;
  }
}

.feedback-popup textarea {
  grid-column: 1 / -1;
  height: 104px;
  resize: none;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.feedback-popup__button {
  background-color: transparent;
}

.feedback-popup__agreement {
  max-width: 90%;
  margin-top: 6px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  font-size: 14px;

  &:hover,
  &:focus-within {
    .feedback-popup__checkbox {
      box-shadow: 0 0 10px 5px currentColor;
    }
  }
}

.feedback-popup [type="checkbox"] {
  position: fixed;
  transform: scale(0);

  &:not(:checked) + .feedback-popup__checkbox svg {
    display: none;
  }
}

.feedback-popup__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid currentColor;
  transition: box-shadow 0.3s;
}
