.feedback-form {
  color: var(--c-text-secondary);
}

.feedback-form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.feedback-form legend {
  margin-bottom: 11px;
  font-family: var(--font-secondary);
  font-size: 36px;
  font-weight: 400;
  line-height: 140.6%;

  @media (max-width: 1023px) {
    margin-bottom: 15px;
    font-size: 32px;
  }

  @media (max-width: 767px) {
    font-size: 28px;
  }
}

.feedback-form span {
  line-height: 134.4%;
}

.feedback-form__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  column-gap: 30px;
  row-gap: 40px;
  margin-top: 51px;

  @media (max-width: 1023px) {
    row-gap: 42px;
    margin-top: 56px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin-top: 25px;
  }
}

.feedback-form ::placeholder {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  opacity: 1;
}

.feedback-form input,
.feedback-form textarea {
  margin: 0;
  padding: 15px 16px;
  font-family: inherit;
  font-size: inherit;
  line-height: 134.4%;
  color: inherit;
  border: 0;
  background-color: var(--bg-input);
  transition: box-shadow 0.3s;

  &:hover,
  &:focus-within {
    outline: 0;
    box-shadow: 0 0 10px 5px currentColor;
  }
}

.feedback-form textarea {
  grid-column: 1 / -1;
  height: 154px;
  resize: none;

  @media (max-width: 1023px) {
    height: 159px;
  }

  @media (max-width: 767px) {
    width: 100%;
    height: 104px;
  }
}

.feedback-form__button {
  background-color: transparent;
}

.feedback-form__agreement {
  margin-top: 12px;
  margin-left: 8px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 15px;
  font-size: 14px;

  @media (max-width: 767px) {
    margin-top: 2px;
    margin-left: 4px;
  }

  &:hover,
  &:focus-within {
    .feedback-form__checkbox {
      box-shadow: 0 0 10px 5px currentColor;
    }
  }
}

.feedback-form [type="checkbox"] {
  position: fixed;
  transform: scale(0);

  &:not(:checked) + .feedback-form__checkbox svg {
    display: none;
  }
}

.feedback-form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid currentColor;
  transition: box-shadow 0.3s;
}
