.hero {
  position: relative;
  padding-top: 33px;
  padding-bottom: 275px;
  background-color: var(--bg-hero);
  background-image: url("../img/hero/hero-bg@1x.png"), url("../img/hero/hero-figure-bg.svg"), url("../img/hero/hero-mask-bg@1x.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 177px) 258px, calc(100% - 219px) 118px, 0 0;

  @media (max-width: 1536px) {
    background-size: 40%, 40%, cover;
    background-position: right 258px, right 118px, 0 0;
  }

  @media (max-width: 1023px) {
    padding-top: 20px;
    background-image: url("../img/hero/hero-bg-tablet@1x.png"), url("../img/hero/hero-figure-bg.svg"), url("../img/hero/hero-mask-bg-tablet@1x.png");
    background-position: right 112px, calc(100% + 200px) -40px, 0 0;
    background-size: auto, 530px 505px, cover;
  }

  @media (max-width: 767px) {
    padding-top: 17px;
    background-image: url("../img/hero/hero-bg-mobile@1x.png"), url("../img/hero/hero-figure-bg.svg"), url("../img/hero/hero-mask-bg-mobile@1x.png");
    background-position: right 92px, calc(100% + 333px) -46px, 0 0;
    background-size: 294px 220px, 500px 483px, 100%;
  }
}

.hero__content {
  position: relative;
  max-width: 718px;
  margin-top: 229px;

  @media (max-width: 1023px) {
    max-width: 470px;
    margin-top: 114px;
    margin-left: 63px;
  }

  @media (max-width: 767px) {
    max-width: none;
    margin-top: 230px;
    margin-left: 0;
  }
}

.hero__content h1 {
  margin: 0;
  font-family: var(--font-secondary);
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: var(--c-text-secondary);

  @media (max-width: 1023px) {
    font-size: 60px;
  }

  @media (max-width: 767px) {
    font-size: 40px;
  }
}

.hero__content p {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 98px;
  font-size: 22px;
  line-height: 156.8%;
  color: var(--c-text-secondary);

  @media (max-width: 1023px) {
    font-size: 18px;
    margin-left: 52px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    margin-left: -94px;
    background: currentColor;
    vertical-align: middle;
    margin-right: 28px;

    @media (max-width: 1023px) {
      width: 33px;
      margin-left: -50px;
      margin-right: 15px;
    }
  }
}

.hero__button {
  margin-top: 19px;
  margin-left: 98px;
  padding: 18px 45px;
  font-size: 16px;
  text-decoration: none;
  background-color: var(--bg-light);
  border: 0;

  b {
    display: none;
  }

  @media (max-width: 1023px) {
    margin-top: 31px;
    margin-left: 51px;
    padding: 18px 31px;
  }

  @media (max-width: 767px) {
    margin-top: 16px;
    margin-left: 0;
    width: 100%;

    span {
      display: none;
    }

    b {
      display: initial;
    }
  }

  &:hover,
  &:focus {
    color: var(--c-link-hover);
    background-color: var(--c-text-secondary);
  }
}

.hero__scroll {
  position: absolute;
  left: -35px;
  bottom: -147px;
  font-size: 14px;
  color: var(--c-text-secondary);
  opacity: 0.5;
  text-decoration: none;
  transform: rotateZ(-90deg);

  @media (max-width: 1023px) {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--c-link-hover);
  }
}
