.logo__icon {
  display: none;
}

.logo {
  display: flex;
  align-items: flex-end;


  &--header {
    @media (min-width: 768px) {
      .logo__icon--full {
        display: initial;
      }
    }

    @media (max-width: 767px) {
      .logo__icon--mobile {
        display: initial;
      }

      svg {
        width: 38px;
        height: 38px;
      }
    }
  }
}

