:root {
  // Global
  --font-main: "PT Mono", "Lucida Console", "Monaco", monospace;
  --font-secondary: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  --font-size: 16px;
  --c-text-primary: hsla(0 0% 40% / 1);
  --c-text-secondary: hsla(0 0% 100% / 1);
  --bg-dark: hsla(201 34% 16% / 1);
  --bg-light: hsla(198 100% 50% / 1);
  --c-line: hsla(115 3% 40% / 0.2);

  // Hero
  --bg-hero: var(--bg-dark);

  // Logo
  --c-logo-description: hsla(273 10% 52% / 1);
  --c-logo-name-accent: hsla(191 34% 19% / 1);

  //Contacts
  --c-link-hover: var(--bg-light);

  // Footer
  --bg-footer: hsla(0 0% 98% / 1);
  --c-text-footer: hsla(201 34% 16% / 0.5);
}
